<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Sampling calculator</title>
	<link rel="stylesheet" href="style.css">
	<script src="data.js" defer></script>
	<script src="sample_calc.js" defer></script>
	<script type="module" src="main.js"></script>
</head>
<body>
	<header>
		<h1>
			<a href="">Sampling calculator</a>
		</h1>
	</header>

	<div id="app">
		<div class="subwindow">
			<h2>Options</h2>
			<div class="block">
				<div class="caption">Country</div>
				<div class="selected_country" @click="change_country">{{ selected_country }}<span class="remove_mark">✕</span></div>
				<input type="text" v-if="selected_country === null" placeholder="Search country..." v-model="searchfield">
				<div class="country_list" v-for="country in filtered_countries" @click="select_country(country)">
					{{ country }}
				</div>
			</div>
			<div class="block">
				<div class="caption">Gender</div>
				<label><input type="checkbox" v-model="gender" value="M">Male</label>
				<br>
				<label><input type="checkbox" v-model="gender" value="F">Female</label>
			</div>
			<div class="block">
				<div class="caption">Age</div>
				<div class="interval-block" v-for="(pair, i) of pairs">
					<input type="number" v-model.number="pairs[i].from">
					-
					<input type="number" v-model.number="pairs[i].to">
					<button @click="remove_pair(i)">✕</button>
				</div>
				<button class="add-button" @click="add_age" style="width: 100px;">+</button>
				<div style="margin-top: 10px;">Templates:</div>
				<label v-for="(x, i) of age_templates" style="display: block;"><input type="radio" name="age_template_group" :value="i" v-model="age_template">{{ x }}</label>
			</div>
			<div class="block">
				<div class="caption">Sample size</div>
				<input type="number" v-model.number="sample_size" style="width: 10ch;">
			</div>
			<button class="calc_button" @click="calc_button">Calculate</button>
		</div>
		<div class="subwindow" v-if="results_show">
			<h2>Results</h2>
			<div v-show="is_error"><br>⟵ try selecting country here first</div>

			<div v-if="result !== null">
				<h3>{{ result.params.country }}</h3>
				<br>
				<table class="res_table">
					<tr>
						<th>Quota</th>
						<th>GP</th>
						<th>%</th>
						<th>Sample</th>
					</tr>
					<tr v-for="row of result.data">
						<td>{{ row.quota }}</td>
						<td>{{ row.gp }}</td>
						<td>{{ row.frac_display }}</td>
						<td>{{ row.sample }}</td>
					</tr>
					<tr>
						<td>Total</td>
						<td>{{ result.gp_sum }}</td>
						<td>100%</td>
						<td>{{ result.params.sample_size }}</td>
					</tr>
				</table>

				<br>
				<table class="res_table">
					<tr>
						<th>Quota</th>
						<th>GP</th>
						<th>%</th>
						<th>Sample</th>
					</tr>
					<tr v-for="row of result.data_age">
						<td>{{ row.quota }}</td>
						<td>{{ row.gp }}</td>
						<td>{{ row.frac_display }}</td>
						<td>{{ row.sample }}</td>
					</tr>
					<tr>
						<td>Total</td>
						<td>{{ result.gp_sum }}</td>
						<td>100%</td>
						<td>{{ result.params.sample_size }}</td>
					</tr>
				</table>

				<br>
				<table class="res_table">
					<tr>
						<th>Quota</th>
						<th>GP</th>
						<th>%</th>
						<th>Sample</th>
					</tr>
					<tr v-for="row of result.data_gender">
						<td>{{ row.quota }}</td>
						<td>{{ row.gp }}</td>
						<td>{{ row.frac_display }}</td>
						<td>{{ row.sample }}</td>
					</tr>
					<tr>
						<td>Total</td>
						<td>{{ result.gp_sum }}</td>
						<td>100%</td>
						<td>{{ result.params.sample_size }}</td>
					</tr>
				</table>

				<br>
				<button @click="copy_to_clipboard">Copy to clipboard</button>
			</div>
		</div>
	</div>
</body>
</html>
