<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Sampling calculator</title>
	<link rel="stylesheet" href="style.css">
	<script src="data.js" defer></script>
	<script src="sample_calc.js" defer></script>
	<script type="module" src="main.js"></script>
</head>
<body>
	<header>
		<h1>
			<a href="/">▢</a>
			<a href="">Sampling calculator</a>
		</h1>
	</header>

	<div id="app">

		<div class="subwindow">
			<h2>Options</h2>
			<div class="block country_block">
				<div class="caption">Country</div>

				<div class="selected_country" v-for="(country, i) in selected_countries" @click="remove_country(i)">
					<span class="name">{{ country }}</span>
					<span class="remove_mark">✕</span>
				</div>

				<input type="text" :class="{ green_shadow, red_warning }" :placeholder="selected_countries.length == 0 ? 'Search country...' : 'Add country...'" v-model="searchfield">
				<div class="search_area" v-show="searchfield.length > 0" :class="{ red_warning }">
					<div class="country_list" v-for="country in filtered_countries" @click="select_country(country)" :class="{ disabled: country == '...' || country == 'Nothing found' }">
						{{ country }}
					</div>
				</div>
			</div>
			<div class="block">
				<div class="caption">Gender</div>
				<label><input type="checkbox" v-model="gender" value="M">Male</label>
				<br>
				<label><input type="checkbox" v-model="gender" value="F">Female</label>
			</div>
			<div class="block">
				<div class="caption">Age</div>
				<div class="interval-block" v-for="(pair, i) of age_pairs">
					<input type="number" v-model.number="age_pairs[i].from" min="0" max="100" :style="age_pairs[i].from >= 100 ? { width: 6 + 'ch' } : {}" :class="{ red_warning: age_pairs_errors[i].from }">
					<span>-</span>
					<input type="number" v-model.number="age_pairs[i].to" min="0" max="100" :style="age_pairs[i].to >= 100 ? { width: 6 + 'ch' } : {}" :class="{ red_warning: age_pairs_errors[i].to }">
					<button @click="remove_age_pair(i)" v-show="age_pairs.length > 1">✕</button>
				</div>
				<button class="add-button" @click="add_age" style="width: 103px;" v-show="age_pairs[age_pairs.length - 1].to < 100">+</button>
				<div style="margin-top: 10px;">Templates:</div>
				<label v-for="(x, i) of age_templates_labels" style="display: block;"><input type="radio" name="age_template_group" :value="i" v-model="age_template">{{ x }}</label>
			</div>
			<div class="block">
				<div class="caption">Sample size</div>
				<input type="number" v-model="sample_size" min="0" style="width: 10ch;" :class="{ red_warning: sample_size_error }">
			</div>
			<button class="calc_button" @click="calc_button">Calculate</button>
		</div>

		<div class="subwindow" v-if="results_show">
			<h2>Results</h2>

			<div class="result_container" v-if="result !== null">
				<div class="result_countries" v-for="country in result.params.countries">

					<h3>{{ country }}</h3>
					<br>
					<table class="res_table">
						<tr>
							<th>Quota</th>
							<th>GP</th>
							<th>%</th>
							<th>Sample</th>
						</tr>
						<tr v-for="row of result.countries_data[country].data">
							<td>{{ row.quota }}</td>
							<td>{{ row.gp }}</td>
							<td>{{ row.frac_display }}</td>
							<td>{{ row.sample }}</td>
						</tr>
						<tr>
							<td>Total</td>
							<td>{{ result.countries_data[country].gp_sum }}</td>
							<td>100%</td>
							<td>{{ result.countries_data[country].params.sample_size }}</td>
						</tr>
					</table>

					<br>
					<table class="res_table">
						<tr>
							<th>Quota</th>
							<th>GP</th>
							<th>%</th>
							<th>Sample</th>
						</tr>
						<tr v-for="row of result.countries_data[country].data_age">
							<td>{{ row.quota }}</td>
							<td>{{ row.gp }}</td>
							<td>{{ row.frac_display }}</td>
							<td>{{ row.sample }}</td>
						</tr>
						<tr>
							<td>Total</td>
							<td>{{ result.countries_data[country].gp_sum }}</td>
							<td>100%</td>
							<td>{{ result.countries_data[country].params.sample_size }}</td>
						</tr>
					</table>

					<br>
					<table class="res_table">
						<tr>
							<th>Quota</th>
							<th>GP</th>
							<th>%</th>
							<th>Sample</th>
						</tr>
						<tr v-for="row of result.countries_data[country].data_gender">
							<td>{{ row.quota }}</td>
							<td>{{ row.gp }}</td>
							<td>{{ row.frac_display }}</td>
							<td>{{ row.sample }}</td>
						</tr>
						<tr>
							<td>Total</td>
							<td>{{ result.countries_data[country].gp_sum }}</td>
							<td>100%</td>
							<td>{{ result.countries_data[country].params.sample_size }}</td>
						</tr>
					</table>

					<br>
					<button @click="copy_to_clipboard">Copy to clipboard</button>

				</div>
			</div>
		</div>

	</div>

	<div class="source_link">
		<a href="https://population.un.org/wpp/Download/Standard/Population/">Source</a>
	</div>
</body>
</html>
